.boxes{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    background-color: #3CBC8D;
    color: white;
}
body{
background-color: #3CBC8D;
}
